In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
%matplotlib inline
%config Inlinebackend.figure_format = 'retina'

import seaborn as sns
sns.set_context('poster')
sns.set(rc={'figure.figsize': (16., 9.)})
sns.set_style('whitegrid')

import pylab as p
import numpy as np
import pandas as pd

In [2]:
#loading first csv with global record relase data by country, year, genre and format

df = pd.read_csv('./Data/release_data.csv')

In [3]:

df.isna().sum()

release_id          0
country        454549
year          2164324
genre               3
format              0
dtype: int64

In [4]:
print(df.columns)

Index(['release_id', 'country', 'year', 'genre', 'format'], dtype='object')

In [5]:
#dropping null vallues from "year/country" column
df.dropna(subset =["year"] , inplace = True)
df.dropna(subset =["country"] , inplace = True)

In [6]:
#checking value count in year column
df_year = df[(df["year"] < 1910 )]
df_year.head()

         release_id country    year             genre     format
974778      1016982  Russia  1903.0         Classical    Shellac
978473      1020499      US  1897.0              Jazz    Shellac
1270400     1289378  France  1860.0        Children's  All Media
1290169     1307084      US  1904.0              Jazz   Cylinder
1290194     1307106      US  1899.0  Brass & Military   Cylinder

In [7]:
#checking unique values
df["format"].unique()

array(['Vinyl', 'CD', 'Cassette', 'Box Set', 'All Media', 'File',
       'Floppy Disk', 'Flexi-disc', 'DAT', 'Minidisc', 'DVD', 'Lathe Cut',
       'CDV', 'Hybrid', 'VHS', 'Acetate', 'SACD', 'DVDr', 'Shellac',
       '8-Track Cartridge', 'MVD', 'Laserdisc', 'Reel-To-Reel',
       'Memory Stick', 'Betamax', 'DCC', 'UMD', 'Microcassette', 'HD DVD',
       'Blu-ray', 'Cylinder', 'DualDisc', 'Edison Disc',
       '4-Track Cartridge', 'Pathé Disc', 'VHD', 'Blu-ray-R', 'U-matic',
       'Film Reel', 'SelectaVision', 'MiniDV', 'Video8', 'Betacam SP',
       'PlayTape', 'Video 2000', 'Elcaset', 'Wire Recording',
       'NT Cassette', 'Betacam', 'Tefifon', 'RCA Tape Cartridge',
       'Pocket Rocker', 'DC-International', 'Cartrivision', 'HD DVD-R'],
      dtype=object)

In [8]:
#dropping the rows that have values non related to music format

types= ['All Media', 'File',
       'Floppy Disk', 'DVD', 'Hybrid', 'VHS', 'DVDr',
       '8-Track Cartridge', 'Reel-To-Reel',
       'Memory Stick', 'Betamax', 'HD DVD','Cylinder',
       '4-Track Cartridge', 'VHD', 'Blu-ray-R', 'U-matic',
       'Film Reel', 'SelectaVision', 'MiniDV', 'Video8', 'Betacam SP',
       'PlayTape', 'Video 2000', 'Wire Recording','Betacam', 'Tefifon',
       'Pocket Rocker', 'Cartrivision', 'HD DVD-R','RCA Tape Cartridge','UMD','Box Set','CDV','Flexi-disc']

new_df = df[df["format"].str.contains('|'.join(types)) == False]

In [9]:
new_df["format"].unique()

array(['Vinyl', 'CD', 'Cassette', 'DAT', 'Minidisc', 'Lathe Cut',
       'Acetate', 'SACD', 'Shellac', 'MVD', 'Laserdisc', 'DCC',
       'Microcassette', 'Blu-ray', 'DualDisc', 'Edison Disc',
       'Pathé Disc', 'Elcaset', 'NT Cassette', 'DC-International'],
      dtype=object)

In [10]:
#grouping similar formats into one common format

In [11]:
new_df = new_df.replace(to_replace=['Lathe Cut', 'Acetate','Edison Disc','Pathé Disc','Shellac'],
           value="Vinyl")

In [12]:
new_df = new_df.replace(to_replace=['Minidisc', 'MVD','Laserdisc','DCC','SACD', 'Blu-ray','DualDisc'],
           value="CD")

In [13]:
new_df = new_df.replace(to_replace=['DC-International', 'NT Cassette','Elcaset','Microcassette','DAT', 'Blu-ray','DualDisc'],
           value='Cassette')

In [14]:
#checking the min value in year, and dropping all the values in years before 1950
new_df['year'].min()
new_df = new_df[(new_df["year"] > 1950 )]

In [15]:
#dropping year 2020, because of missing data
new_df = new_df[(new_df["year"] < 2020 )]

In [16]:
global_release = new_df

In [17]:
#checking data types
global_release.dtypes

release_id      int64
country        object
year          float64
genre          object
format         object
dtype: object

In [18]:
#converting year value into int
global_release['year'] = global_release['year'].astype(int)

In [19]:
my_df = global_release

In [20]:
#grouping by country, year and format. format as count
#to have aggregated data
df_year_country_genre =  my_df.groupby(["year","country","format","genre"])["format"].count().reset_index(name="records_count")

In [21]:
df_year_country_genre.sample()

       year       country    format genre  records_count
22369  1976  South Africa  Cassette  Rock             16

In [22]:
#exporting to CSV
df_year_country_genre.to_csv("./Data/format_release.csv", index = False)