In [2]:
import os

import json
import requests
import pyjsonviewer

from functools import reduce
import operator

import pandas as pd
import numpy as np

import requests
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re

from dotenv import load_dotenv
load_dotenv()

Python-dotenv could not parse statement starting at line 9

True

In [3]:
url = "https://en.wikipedia.org/wiki/Vinyl_revival"

In [4]:
s = requests.Session()
response = s.get(url)

In [5]:
print(response.status_code)

200

In [6]:
soup = BeautifulSoup(response.content, "html.parser")

In [7]:
tags = soup.find("table", {"class":"wikitable"})

In [8]:
my_table = pd.read_html(tags.prettify())

In [9]:
table = my_table[0]

In [10]:
table.sample()

,Countries,2007,2007.1,2008,2008.1,2009,2009.1,2010,2010.1,2011,...,2015,2015.1,2016,2016.1,2017,2017.1,2018,2018.1,2019,2019.1
8,Sweden [78] (SP&LP),11000,11000,22000,22000,36000,36000,70671,70671,101484,...,–,–,–,–,–,–,–,–,–,–

In [25]:
print(table.columns)

Index(['Countries', '2007', '2007.1', '2008', '2008.1', '2009', '2009.1',
       '2010', '2010.1', '2011', '2011.1', '2012', '2012.1', '2013', '2013.1',
       '2014', '2014.1', '2015', '2015.1', '2016', '2016.1', '2017', '2017.1',
       '2018', '2018.1', '2019', '2019.1'],
      dtype='object')

In [27]:
#table.drop(['2007.1', '2008.1',"2009.1","2010.1","2011.1","2012.1","2013.1","2014.1","2015.1","2016.1","2017.1","2018.1","2019.1"], axis = 1, inplace = True)

In [30]:
table.head()

,Countries,2007,2007.1,2008,2008.1,2009,2009.1,2010,2010.1,2011,...,2015,2015.1,2016,2016.1,2017,2017.1,2018,2018.1,2019,2019.1
0,Global Trade Value $US,$55m,$55m,$66m,$66m,$73m,$73m,$89m,$89m,$116m,...,$416m,$416m,–,–,–,–,–,–,–,–
1,Australia,10000,"17,996",10000,"19,608",10000,"53,766",13677,"39,644",13637,...,"374,097","374,097","655,301","655,301","786,735","786,735",–,–,–,–
2,Germany,"400,000","400,000","700,000","700,000","1,200,000","1,200,000","635,000","635,000","700,000",...,"2,100,000","2,100,000","3,100,000","3,100,000",–,–,–,–,–,–
3,Finland,10301,10301,13688,13688,15747,15747,27515,27515,54970,...,–,–,–,–,–,–,–,–,–,–
4,Hungary,"2,974","2,974","2,923","2,923","3,763","3,763","1,879","1,879","8,873",...,–,–,–,–,–,–,–,–,–,–

In [78]:
clean_table

,Countries,2007,2007.1,2008,2008.1,2009,2009.1,2010,2010.1,2011,...,2015,2015.1,2016,2016.1,2017,2017.1,2018,2018.1,2019,2019.1
1,Australia,10000,17996,10000,19608,10000,53766,13677,39644,13637,...,374097,374097,655301,655301,786735,786735,0,0,0,0
2,Germany,400000,400000,700000,700000,1200000,1200000,635000,635000,700000,...,2100000,2100000,3100000,3100000,0,0,0,0,0,0
3,Finland,10301,10301,13688,13688,15747,15747,27515,27515,54970,...,0,0,0,0,0,0,0,0,0,0
4,Hungary,2974,2974,2923,2923,3763,3763,1879,1879,8873,...,0,0,0,0,0,0,0,0,0,0
5,Japan,324000,324000,212000,212000,102000,102000,105000,105000,210000,...,662000,662000,799000,799000,1063000,1063000,1116000,1116000,1219000,1219000
6,Netherlands,0,0,0,0,51000,51000,60400,60400,81000,...,650000,650000,1000000,1000000,0,0,0,0,0,0
7,Spain,0,0,40000,40000,106000,106000,97000,97000,141000,...,0,0,0,0,0,0,0,0,0,0
8,Sweden,11000,11000,22000,22000,36000,36000,70671,70671,101484,...,0,0,0,0,0,0,0,0,0,0
9,United Kingdom,1843000,205000,740000,209000,332000,219000,219000,234000,186000,...,0,0,0,0,0,3.2 million,0,4.2 million,0,0
10,United States,988000,988000,1880000,1880000,2500000,2500000,2800000,2800000,3800000,...,11900000,11900000,13000000,13000000,14320000,14320000,16800000,16800000,NaN,NaN

In [75]:
clean_table["Countries"].unique()

array(['Australia  ', 'Germany  ', 'Finland    ', 'Hungary  ', 'Japan  ',
       'Netherlands  ', 'Spain  ', 'Sweden    ', 'United Kingdom  ',
       'United States  '], dtype=object)

In [46]:
#remove brackets and parenthesis from values
clean_table = clean_table.replace('[\(\[].*?[\)\]]', '', regex=True)

In [47]:
clean_table = clean_table.drop(index=11)

In [48]:
clean_table = clean_table.drop(index=0)

In [49]:
clean_table = clean_table.replace(',', '', regex=True)

In [53]:
clean_table = clean_table.replace('–', '', regex=True)

In [60]:
clean_table = clean_table.replace('', 0)

In [55]:
clean_table = clean_table.replace('\+', '', regex=True)

In [140]:

clean_table = clean_table.replace('±', '', regex=True)

,Countries,2007,2007.1,2008,2008.1,2009,2009.1,2010,2010.1,2011,...,2015,2015.1,2016,2016.1,2017,2017.1,2018,2018.1,2019,2019.1
1,Australia,10000,17996,10000,19608,10000,53766,13677,39644,13637,...,374097,374097,655301,655301,786735,786735,0,0,0,0
2,Germany,400000,400000,700000,700000,1200000,1200000,635000,635000,700000,...,2100000,2100000,3100000,3100000,0,0,0,0,0,0
3,Finland,10301,10301,13688,13688,15747,15747,27515,27515,54970,...,0,0,0,0,0,0,0,0,0,0
4,Hungary,2974,2974,2923,2923,3763,3763,1879,1879,8873,...,0,0,0,0,0,0,0,0,0,0
5,Japan,324000,324000,212000,212000,102000,102000,105000,105000,210000,...,662000,662000,799000,799000,1063000,1063000,1116000,1116000,1219000,1219000
6,Netherlands,0,0,0,0,51000,51000,60400,60400,81000,...,650000,650000,1000000,1000000,0,0,0,0,0,0
7,Spain,0,0,40000,40000,106000,106000,97000,97000,141000,...,0,0,0,0,0,0,0,0,0,0
8,Sweden,11000,11000,22000,22000,36000,36000,70671,70671,101484,...,0,0,0,0,0,0,0,0,0,0
9,United Kingdom,1843000,205000,740000,209000,332000,219000,219000,234000,186000,...,0,0,0,0,0,3.2 million,0,4.2 million,0,0
10,United States,988000,988000,1880000,1880000,2500000,2500000,2800000,2800000,3800000,...,11900000,11900000,13000000,13000000,14320000,14320000,16800000,16800000,NaN,NaN

In [173]:
clean_melt = clean_table.melt(id_vars = ['Countries'], var_name = 'Year', value_name = 'value').sort_values('Year')

In [174]:
clean_melt.reset_index(inplace = True)

In [175]:
clean_melt.at[211,'value']='3200000'
clean_melt.at[231,'value']='4200000'
clean_melt.at[259,'value']='0'

In [176]:
clean_melt = clean_melt.dropna()

In [177]:
clean_melt.isnull().sum()

index        0
Countries    0
Year         0
value        0
dtype: int64

In [102]:
from numpy import int64

In [194]:
for index, row in clean_melt.iterrows():
    for index2, row2 in clean_melt.iterrows():
        if row["Year"] == row2["Year"] +".1":
            if row["value"] != row2["value"] and row["Countries"] == row2["Countries"]:
                clean_melt.loc[index,"value"] = int64(row2["value"]) + int64(row["value"])
                #print(index)
                #print(clean_melt.loc[index,"Countries"])
                #print(clean_melt.loc[index,"value"])

In [184]:
clean_melt = clean_melt[clean_melt["Year"].str.contains("\.1") == True]

In [190]:
clean_melt = clean_melt.replace('\.1', "", regex=True)

In [192]:
clean_melt.reset_index(inplace = True)

In [13]:
pd.set_option('display.max_rows', None)