In [2]:
import os

import json
import requests
import pyjsonviewer

from functools import reduce
import operator

import pandas as pd
import numpy as np

import requests
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re

from dotenv import load_dotenv
load_dotenv()

Python-dotenv could not parse statement starting at line 9

True

In [3]:
url = "https://en.wikipedia.org/wiki/Vinyl_revival"

In [6]:
s = requests.Session()
response = s.get(url)

In [8]:
print(response.status_code)

200

In [10]:
soup = BeautifulSoup(response.content, "html.parser")

In [11]:
tags = soup.find("table", {"class":"wikitable"})

In [15]:
my_table = pd.read_html(tags.prettify())

In [19]:
table = my_table[0]

In [24]:
table.sample()

,Countries,2007,2007.1,2008,2008.1,2009,2009.1,2010,2010.1,2011,...,2015,2015.1,2016,2016.1,2017,2017.1,2018,2018.1,2019,2019.1
1,Australia (SP/LP),10000,"17,996 [46]",10000,"19,608 [47]",10000,"53,766 [48]",13677,"39,644 [49]",13637,...,"374,097 [53]","374,097 [53]","655,301 [54]","655,301 [54]","786,735 [54]","786,735 [54]",–,–,–,–

In [25]:
print(table.columns)

Index(['Countries', '2007', '2007.1', '2008', '2008.1', '2009', '2009.1',
       '2010', '2010.1', '2011', '2011.1', '2012', '2012.1', '2013', '2013.1',
       '2014', '2014.1', '2015', '2015.1', '2016', '2016.1', '2017', '2017.1',
       '2018', '2018.1', '2019', '2019.1'],
      dtype='object')

In [27]:
table.drop(['2007.1', '2008.1',"2009.1","2010.1","2011.1","2012.1","2013.1","2014.1","2015.1","2016.1","2017.1","2018.1","2019.1"], axis = 1, inplace = True)

In [29]:
table.head()

,Countries,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Global Trade Value $US (SP&LP),$55m,$66m,$73m,$89m,$116m [45],$171m,–,–,$416m [23],–,–,–,–
1,Australia (SP/LP),10000,10000,10000,13677,13637,21623,10069,"277,767 [52]","374,097 [53]","655,301 [54]","786,735 [54]",–,–
2,Germany (SP&LP),"400,000 [55]","700,000 [56]","1,200,000 [56]","635,000 (LPs only)","700,000 (LPs only) [57] [58]","1,000,000 [59]","1,400,000 [59]","1,800,000 [59]","2,100,000 [59]","3,100,000 [59]",–,–,–
3,Finland [60] (SP&LP),10301,13688,15747,27515,54970,47811,72480,"82,313 [61]",–,–,–,–,–
4,Hungary (LP),"2,974 [62]","2,923 [63]","3,763 [64]","1,879 [65]","8,873 [66]","9,819 [67]","14,719 [68]","24,132 [69]",–,–,–,–,–

In [36]:
table_1 = table.melt(id_vars = ['Countries'], var_name = 'Year', value_name = 'value').sort_values('Year')

In [54]:
pd.set_option('display.max_rows', None)

In [92]:
table_1

,Countries,Year,value
0,Global Trade Value $US (SP&LP),2007,$55m
10,United States (LP),2007,988000
9,United Kingdom (SP/LP),2007,1843000
7,Spain (LP),2007,–
6,Netherlands (LP),2007,–
8,Sweden [78] (SP&LP),2007,11000
4,Hungary (LP),2007,"2,974 [62]"
3,Finland [60] (SP&LP),2007,10301
2,Germany (SP&LP),2007,"400,000 [55]"
1,Australia (SP/LP),2007,10000
5,Japan (SP&LP),2007,"324,000 [70]"
19,Spain (LP),2008,40000
23,"Australian single figures for 2007, 2008 and 2...",2008,"Australian single figures for 2007, 2008 and 2..."
22,United States (LP),2008,"1,880,000 [81]"
21,United Kingdom (SP/LP),2008,740000
18,Netherlands (LP),2008,–
20,Sweden [78] (SP&LP),2008,22000
16,Hungary (LP),2008,"2,923 [63]"
15,Finland [60] (SP&LP),2008,13688
14,Germany (SP&LP),2008,"700,000 [56]"
13,Australia (SP/LP),2008,10000
12,Global Trade Value $US (SP&LP),2008,$66m
17,Japan (SP&LP),2008,"212,000 [70]"
35,"Australian single figures for 2007, 2008 and 2...",2009,"Australian single figures for 2007, 2008 and 2..."
34,United States (LP),2009,"2,500,000 [82]"
33,United Kingdom (SP/LP),2009,332000
32,Sweden [78] (SP&LP),2009,36000
31,Spain (LP),2009,"106,000 [75]"
30,Netherlands (LP),2009,51000
29,Japan (SP&LP),2009,"102,000 [70]"
27,Finland [60] (SP&LP),2009,15747
26,Germany (SP&LP),2009,"1,200,000 [56]"
25,Australia (SP/LP),2009,10000
24,Global Trade Value $US (SP&LP),2009,$73m
28,Hungary (LP),2009,"3,763 [64]"
43,Spain (LP),2010,97000
47,"Australian single figures for 2007, 2008 and 2...",2010,"Australian single figures for 2007, 2008 and 2..."
46,United States (LP),2010,"2,800,000 [83]"
45,United Kingdom (SP/LP),2010,219000
44,Sweden [78] (SP&LP),2010,70671
42,Netherlands (LP),2010,60400
38,Germany (SP&LP),2010,"635,000 (LPs only)"
40,Hungary (LP),2010,"1,879 [65]"
39,Finland [60] (SP&LP),2010,27515
41,Japan (SP&LP),2010,"105,000 [70]"
37,Australia (SP/LP),2010,13677
36,Global Trade Value $US (SP&LP),2010,$89m
59,"Australian single figures for 2007, 2008 and 2...",2011,"Australian single figures for 2007, 2008 and 2..."
58,United States (LP),2011,"3,800,000 [84]"
57,United Kingdom (SP/LP),2011,186000
56,Sweden [78] (SP&LP),2011,101484
55,Spain (LP),2011,"141,000 [76]"
54,Netherlands (LP),2011,"81,000 [71]"
52,Hungary (LP),2011,"8,873 [66]"
51,Finland [60] (SP&LP),2011,54970
50,Germany (SP&LP),2011,"700,000 (LPs only) [57] [58]"
49,Australia (SP/LP),2011,13637
48,Global Trade Value $US (SP&LP),2011,$116m [45]
53,Japan (SP&LP),2011,"210,000 [70]"
67,Spain (LP),2012,"135,000 [77]"
71,"Australian single figures for 2007, 2008 and 2...",2012,"Australian single figures for 2007, 2008 and 2..."
70,United States (LP),2012,"4,600,000 [85]"
69,United Kingdom (SP/LP),2012,–
68,Sweden [78] (SP&LP),2012,168543
66,Netherlands (LP),2012,"115,000 [72]"
60,Global Trade Value $US (SP&LP),2012,$171m
64,Hungary (LP),2012,"9,819 [67]"
63,Finland [60] (SP&LP),2012,47811
62,Germany (SP&LP),2012,"1,000,000 [59]"
61,Australia (SP/LP),2012,21623
65,Japan (SP&LP),2012,"453,000 [70]"
79,Spain (LP),2013,–
83,"Australian single figures for 2007, 2008 and 2...",2013,"Australian single figures for 2007, 2008 and 2..."
82,United States (LP),2013,"6,100,000 [84]"
81,United Kingdom (SP/LP),2013,–
80,Sweden [78] (SP&LP),2013,200008
78,Netherlands (LP),2013,–
77,Japan (SP&LP),2013,"268,000 [70]"
76,Hungary (LP),2013,"14,719 [68]"
75,Finland [60] (SP&LP),2013,72480
74,Germany (SP&LP),2013,"1,400,000 [59]"
73,Australia (SP/LP),2013,10069
72,Global Trade Value $US (SP&LP),2013,–
94,United States (LP),2014,"9,200,000 [84]"
93,United Kingdom (SP/LP),2014,–
92,Sweden [78] (SP&LP),2014,–
91,Spain (LP),2014,–
90,Netherlands (LP),2014,"300,000±"
95,"Australian single figures for 2007, 2008 and 2...",2014,NaN
88,Hungary (LP),2014,"24,132 [69]"
87,Finland [60] (SP&LP),2014,"82,313 [61]"
86,Germany (SP&LP),2014,"1,800,000 [59]"
85,Australia (SP/LP),2014,"277,767 [52]"
84,Global Trade Value $US (SP&LP),2014,–
89,Japan (SP&LP),2014,"401,000 [70]"
107,"Australian single figures for 2007, 2008 and 2...",2015,NaN
106,United States (LP),2015,"11,900,000 [86]"
105,United Kingdom (SP/LP),2015,–
104,Sweden [78] (SP&LP),2015,–
103,Spain (LP),2015,–
102,Netherlands (LP),2015,"650,000+ [73]"
101,Japan (SP&LP),2015,"662,000 [70]"
99,Finland [60] (SP&LP),2015,–
98,Germany (SP&LP),2015,"2,100,000 [59]"
97,Australia (SP/LP),2015,"374,097 [53]"
96,Global Trade Value $US (SP&LP),2015,$416m [23]
100,Hungary (LP),2015,–
115,Spain (LP),2016,–
119,"Australian single figures for 2007, 2008 and 2...",2016,NaN
118,United States (LP),2016,"13,000,000 [87]"
116,Sweden [78] (SP&LP),2016,–
114,Netherlands (LP),2016,"1,000,000+ [74]"
117,United Kingdom (SP/LP),2016,–
112,Hungary (LP),2016,–
111,Finland [60] (SP&LP),2016,–
110,Germany (SP&LP),2016,"3,100,000 [59]"
113,Japan (SP&LP),2016,"799,000 [70]"
109,Australia (SP/LP),2016,"655,301 [54]"
108,Global Trade Value $US (SP&LP),2016,–
131,"Australian single figures for 2007, 2008 and 2...",2017,NaN
130,United States (LP),2017,"14,320,000 [88]"
129,United Kingdom (SP/LP),2017,-
128,Sweden [78] (SP&LP),2017,–
127,Spain (LP),2017,–
126,Netherlands (LP),2017,–
125,Japan (SP&LP),2017,"1,063,000 [70]"
124,Hungary (LP),2017,–
123,Finland [60] (SP&LP),2017,–
122,Germany (SP&LP),2017,–
121,Australia (SP/LP),2017,"786,735 [54]"
120,Global Trade Value $US (SP&LP),2017,–
142,United States (LP),2018,"16,800,000 [89]"
141,United Kingdom (SP/LP),2018,–
143,"Australian single figures for 2007, 2008 and 2...",2018,NaN
140,Sweden [78] (SP&LP),2018,–
139,Spain (LP),2018,–
138,Netherlands (LP),2018,–
134,Germany (SP&LP),2018,–
136,Hungary (LP),2018,–
135,Finland [60] (SP&LP),2018,–
133,Australia (SP/LP),2018,–
132,Global Trade Value $US (SP&LP),2018,–
137,Japan (SP&LP),2018,"1,116,000 [70]"
153,United Kingdom (SP/LP),2019,-
152,Sweden [78] (SP&LP),2019,–
151,Spain (LP),2019,–
150,Netherlands (LP),2019,–
149,Japan (SP&LP),2019,"1,219,000 [70]"
147,Finland [60] (SP&LP),2019,–
146,Germany (SP&LP),2019,–
145,Australia (SP/LP),2019,–
144,Global Trade Value $US (SP&LP),2019,–
154,United States (LP),2019,NaN
148,Hungary (LP),2019,–

In [93]:
table_2 = table_1[table_1["value"].str.contains("Australian single figures")==False]

In [94]:
table_2 = table_2[table_2["value"].str.contains("m")==False]

In [113]:
table_2.dtypes

Countries    object
Year         object
value        object
dtype: object

In [122]:
table_2.replace('[\(\[].*?[\)\]]', '', regex=True, inplace=True)

In [125]:
v_release = table_2.reset_index()

In [126]:
v_release

     index                 Countries  Year          value
0       10           United States    2007         988000
1        9          United Kingdom    2007        1843000
2        7                   Spain    2007              –
3        6             Netherlands    2007              –
4        8                Sweden      2007          11000
5        4                 Hungary    2007        2,974
6        3               Finland      2007          10301
7        2                 Germany    2007      400,000
8        1               Australia    2007          10000
9        5                   Japan    2007      324,000
10      19                   Spain    2008          40000
11      22           United States    2008    1,880,000
12      21          United Kingdom    2008         740000
13      18             Netherlands    2008              –
14      20                Sweden      2008          22000
15      16                 Hungary    2008        2,923
16      15               Finland      2008          13688
17      14                 Germany    2008      700,000
18      13               Australia    2008          10000
19      17                   Japan    2008      212,000
20      34           United States    2009    2,500,000
21      33          United Kingdom    2009         332000
22      32                Sweden      2009          36000
23      31                   Spain    2009      106,000
24      30             Netherlands    2009          51000
25      29                   Japan    2009      102,000
26      27               Finland      2009          15747
27      26                 Germany    2009    1,200,000
28      25               Australia    2009          10000
29      28                 Hungary    2009        3,763
30      43                   Spain    2010          97000
31      46           United States    2010    2,800,000
32      45          United Kingdom    2010         219000
33      44                Sweden      2010          70671
34      42             Netherlands    2010          60400
35      38                 Germany    2010      635,000
36      40                 Hungary    2010        1,879
37      39               Finland      2010          27515
38      41                   Japan    2010      105,000
39      37               Australia    2010          13677
40      58           United States    2011    3,800,000
41      57          United Kingdom    2011         186000
42      56                Sweden      2011         101484
43      55                   Spain    2011      141,000
44      54             Netherlands    2011       81,000
45      52                 Hungary    2011        8,873
46      51               Finland      2011          54970
47      50                 Germany    2011  700,000
48      49               Australia    2011          13637
49      53                   Japan    2011      210,000
50      67                   Spain    2012      135,000
51      70           United States    2012    4,600,000
52      69          United Kingdom    2012              –
53      68                Sweden      2012         168543
54      66             Netherlands    2012      115,000
55      64                 Hungary    2012        9,819
56      63               Finland      2012          47811
57      62                 Germany    2012    1,000,000
58      61               Australia    2012          21623
59      65                   Japan    2012      453,000
60      79                   Spain    2013              –
61      82           United States    2013    6,100,000
62      81          United Kingdom    2013              –
63      80                Sweden      2013         200008
64      78             Netherlands    2013              –
65      77                   Japan    2013      268,000
66      76                 Hungary    2013       14,719
67      75               Finland      2013          72480
68      74                 Germany    2013    1,400,000
69      73               Australia    2013          10069
70      72  Global Trade Value $US    2013              –
71      94           United States    2014    9,200,000
72      93          United Kingdom    2014              –
73      92                Sweden      2014              –
74      91                   Spain    2014              –
75      90             Netherlands    2014       300,000±
76      88                 Hungary    2014       24,132
77      87               Finland      2014       82,313
78      86                 Germany    2014    1,800,000
79      85               Australia    2014      277,767
80      84  Global Trade Value $US    2014              –
81      89                   Japan    2014      401,000
82     106           United States    2015   11,900,000
83     105          United Kingdom    2015              –
84     104                Sweden      2015              –
85     103                   Spain    2015              –
86     102             Netherlands    2015     650,000+
87     101                   Japan    2015      662,000
88      99               Finland      2015              –
89      98                 Germany    2015    2,100,000
90      97               Australia    2015      374,097
91     100                 Hungary    2015              –
92     115                   Spain    2016              –
93     118           United States    2016   13,000,000
94     116                Sweden      2016              –
95     114             Netherlands    2016   1,000,000+
96     117          United Kingdom    2016              –
97     112                 Hungary    2016              –
98     111               Finland      2016              –
99     110                 Germany    2016    3,100,000
100    113                   Japan    2016      799,000
101    109               Australia    2016      655,301
102    108  Global Trade Value $US    2016              –
103    130           United States    2017   14,320,000
104    129          United Kingdom    2017              -
105    128                Sweden      2017              –
106    127                   Spain    2017              –
107    126             Netherlands    2017              –
108    125                   Japan    2017    1,063,000
109    124                 Hungary    2017              –
110    123               Finland      2017              –
111    122                 Germany    2017              –
112    121               Australia    2017      786,735
113    120  Global Trade Value $US    2017              –
114    142           United States    2018   16,800,000
115    141          United Kingdom    2018              –
116    140                Sweden      2018              –
117    139                   Spain    2018              –
118    138             Netherlands    2018              –
119    134                 Germany    2018              –
120    136                 Hungary    2018              –
121    135               Finland      2018              –
122    133               Australia    2018              –
123    132  Global Trade Value $US    2018              –
124    137                   Japan    2018    1,116,000
125    153          United Kingdom    2019              -
126    152                Sweden      2019              –
127    151                   Spain    2019              –
128    150             Netherlands    2019              –
129    149                   Japan    2019    1,219,000
130    147               Finland      2019              –
131    146                 Germany    2019              –
132    145               Australia    2019              –
133    144  Global Trade Value $US    2019              –
134    148                 Hungary    2019              –